.container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #000000;
}

.textContent {
    width: 80%;
    display: flex;
    justify-content: start;
}

.text {
    font-weight: 700;
    font-size: 1.4rem;
    color: #fff;
}