
    <div class="logo">
        <img src="assets/logo.png" alt="logo">
    </div>

<div class="nav">
    <nav>
        <p (click)="navigateTo('home')">
            Главная
        </p>
        <p (click)="navigateTo('information')">
            Информация
        </p>
        <p (click)="navigateTo('contacts')">
            Контакты
        </p>

    </nav>


    <p-button label="Меню" (click)="menu.toggle($event)" icon="pi pi-equals" [text]="true"/>
    <p-tieredMenu #menu [model]="items" [popup]="true" />

</div>

