<div class="container">
    <div class="textContent">
        <p class="title">
            основные аспекты автодиагностики
        </p>
    </div>
    <div class="textContent">
        <div style="width: 85%;">
            <ol>
                <li class="text" style="width: 100%; margin-bottom: 2rem;">

                    Использование диагностического оборудования (cканеры и адаптеры) позволяет подключиться к бортовому
                    компьютеру автомобиля для считывания ошибок и параметров работы систем.

                </li>
                <li class="text" style="width: 100%;">

                    Диагностические процедуры (функциональные тесты) дают возможность оценить работу отдельных узлов и
                    систем, например, проверка работы форсунок, зажигания, ABS и других систем автомобиля.

                </li>
            </ol>
        </div>

    </div>
    <div class="textContent">
        <p class="title">
            Преимущеста автодиагностики
        </p>
    </div>
    <div class="textContent">
        <div style="width: 85%; margin-bottom: 2rem;">
            <ol>
                <li class="text" style="width: 100%; margin-bottom: 2rem;">
                    Экономия времени и денег за счет раннего выявления проблем блоков и узлов автомобиля, позволяет
                    избежать дорогостоящих ремонтов в будущем.

                </li>
                <li class="text" style="width: 100%;">

                    Проведение автодиагностики увеличивает срок службы автомобиля. Регулярная диагностика и обслуживание
                    помогают поддерживать автомобиль в хорошем состоянии на протяжении многих лет.

                </li>
            </ol>
        </div>
    </div>
    <div class="top-right"></div>
    <div class="bottom-left"></div>
</div>