<div class="container" id="information">
    <div class="textContent">
        <p class="title">
            Что такое автодиагностика?
        </p>
    </div>
    <div class="textContent">
        <p class="text">
            Автодиагностика – это комплекс мероприятий по проверке состояния и функционирования систем автомобиля с
            использованием специального оборудования и программного обеспечения. Главная цель автодиагностики – выявить
            неисправности или отклонения в работе автомобиля, чтобы вовремя провести необходимые ремонтные работы и
            предотвратить возможные поломки.
        </p>
    </div>
  
    <div class="cards">
        <div class="card altelLeft">
            <img src="assets/altel1.png" alt="altel1" style=" width: 75%;" >
        </div>
        <div class="card altelRight">
            <img src="assets/altel2.png" alt="altel2" style=" width: 70%;" >
        </div>
    </div>

    <div class="top-right"></div>
    <div class="bottom-left"></div>
</div>